
.Portfolio {
  padding: var(--padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    padding: 5px;
    border-style: solid;
  }
}

.ProjectContainer {
  display: flex;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  transition: transform ease 100ms;
}

@media (max-width: 1100px) {
  .ProjectContainer {
  display: flex;
  flex-direction: column;
  }
}

@media (min-width: 951px) {
  .ProjectDescription {
    width: 600px;
  }
}

.ProjectContainer:hover {
  transform: scale(1.05);
  ;
}

.ProjectTitle {
  color: var(--gold);
  font-weight: bold;
}

.ProjectImage {
  width: 400px;
  border-radius: 5px;
  margin: 20px;
}

.ProjectDescription {
  padding: 20px;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-size: 22px;;
  color: var(--gold-metallic);
}

#Technologies {
  font-size: 15px;
}

@media (max-width: )
