.Portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  li {
    padding: 5px;
    border-style: solid;
  }
}

.ProjectContainer {
  opacity: 1;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin: 50px;
  padding: 20px;
  transition: transform ease 100ms;
}

@media (max-width: 1110px) {
  .ProjectContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 951px) {
  .ProjectDescription {
    width: 600px;
  }
}

.ProjectContainer:hover {
  /* transform: scale(1.05); */
  outline: none;
  border-color:rgb(189, 189, 189);
  border-radius: 25px;
  box-shadow: 0 0 35px rgb(189, 189, 189);
  ;
}

.ProjectTitle {
  color: var(--gold);
  font-weight: bold;
}

.ProjectImage {
  width: 400px;
  border-radius: 5px;
  margin: 20px;
}

.ProjectDescription {
  padding: 20px;
  }

a {
  text-decoration: none;
  color: black;
}

a:hover {
  /* font-size: 22px; */
  color: var(--gold-metallic);
}


#Technologies {
  font-size: 15px;
}

@media (max-width: )
