
.About {
  padding: var(--padding);

  form {
    background: var(--offset-color);
    padding: 30px 40px;
    width: 400px;
  }

  .PasswordControl {
    input {
      color: black;
    }
  }
}

.ImageContainer {
  display: flex;
  justify-content: center;
}

.Image {
  border: groove purple;
  border-radius: 5px;
  height: 500px;
  margin: 20px;
}