
.About {
  padding: var(--padding);
  border: groove purple;
  border-radius: 5px;
  margin: 20px;
}

.ImageContainer {
  display: flex;
  justify-content: center;
}

.Image {
  border: groove purple;
  border-radius: 5px;
  height: 500px;
  margin: 20px;
}