* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Montserrat','Segoe UI', Candara,
    'Bitstream Vera Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Trebuchet MS', Verdana,
    'Verdana Ref', sans-serif;
  --label-font: 'Bebas Neue', Impact, Haettenschweiler,
    'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat',
    'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;

  --paradise-pink:rgb(111, 66, 74);
  --smoky-black: #070600ff;
  --ghost-white: #f7f7ffff;
  --gold-metallic: #deb841ff;
  --gold: #a88410ff;
  --papyrus:rgb(231, 229, 221);

  --header-color: var(--smoky-black);
  --color-2: #40c0cb;
  --offset-color: #d3dcbd;
  --green:rgb(67, 75, 45);
  --background-color: var(--ghost-white);
  --black-color: rgb(27, 42, 48);
  --caption-color: rgb(65, 99, 112);
  --white: white;


  --padding: 20px;
  @media (min-width: 750px) {
    --padding: 40px;
  }

  @media (min-width: )

}

body {
  font-family: var(--primary-font);
  background: var(--papyrus);
  /* background-image: url("../../../public/starrynight.png"); */
  /* color: var(--background-color); */
}

:global(.label-text) {
  font-family: var(--label-font);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

a {
  color: var(--white);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.25;
}